<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="NextGenAI Automation Suite">
  <test thread-count="5" name="NextGenAI Automation Tests">
    <classes>
      <class name="TestRunner.FeatureRunner"/>
    </classes>
  </test> <!-- NextGenAI Automation Tests -->
</suite> <!-- NextGenAI Automation Suite -->
